# 4.2 KNN

In [1]:
import numpy as np
from collections import Counter
import random
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.utils import shuffle
plt.rcParams['figure.figsize'] = (10.0, 8.0) 
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

## （1）读入数据

In [20]:
import pandas as pd
# 读入数据
data_new = pd.read_csv('泰坦尼克_new.csv',index_col=0)
data_new.head()

,Survived,Pclass_2,Pclass_3,Sex_male,Embarked_Q,Embarked_S,Age,Fare,SibSp,Parch
0,0,0,1,1,0,1,-0.592481,-0.502445,0.432793,-0.473674
1,1,0,0,0,0,0,0.638789,0.786845,0.432793,-0.473674
2,1,0,1,0,0,1,-0.284663,-0.488854,-0.474545,-0.473674
3,1,0,0,0,0,1,0.407926,0.420730,0.432793,-0.473674
4,0,0,1,1,0,1,0.407926,-0.486337,-0.474545,-0.473674

## （2）拆分数据集

In [21]:
from sklearn.model_selection import train_test_split

X = data_new.drop('Survived', axis=1)
y = data_new.Survived
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [22]:
X_train.shape

(623, 9)

In [23]:
X_test.shape

(268, 9)

## （3）构建KNN模型

In [31]:
#使用K-NN对训练集数据进行训练
from sklearn import neighbors
from sklearn import metrics 

KNN_model = neighbors.KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
KNN_model.fit(X_train, y_train)

KNeighborsClassifier()

In [44]:
#对测试集进行预测
y_predict = KNN_model.predict(X_test)
y_predict_prob=KNN_model.predict_proba(X_test)[:,1]

In [46]:
metrics.roc_auc_score(y_test,y_predict_prob) #AUC

0.8464699074074074

In [47]:
print('查准率','查全率','F1值：')
print(metrics.classification_report(y_test,y_predict))

查准率 查全率 F1值：
              precision    recall  f1-score   support

           0       0.81      0.80      0.81       160
           1       0.71      0.72      0.72       108

    accuracy                           0.77       268
   macro avg       0.76      0.76      0.76       268
weighted avg       0.77      0.77      0.77       268

In [48]:
print('混淆矩阵：')
print(metrics.confusion_matrix(y_test,y_predict))

混淆矩阵：
[[128  32]
 [ 30  78]]

In [81]:
data_new.head()

,Survived,Pclass_2,Pclass_3,Sex_male,Embarked_Q,Embarked_S,Age,Fare,SibSp,Parch
0,0,0,1,1,0,1,-0.592481,-0.502445,0.432793,-0.473674
1,1,0,0,0,0,0,0.638789,0.786845,0.432793,-0.473674
2,1,0,1,0,0,1,-0.284663,-0.488854,-0.474545,-0.473674
3,1,0,0,0,0,1,0.407926,0.420730,0.432793,-0.473674
4,0,0,1,1,0,1,0.407926,-0.486337,-0.474545,-0.473674